@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import "./config.css";
@import "./utility.css";
@import "./nav.css";

#header-Home {
    position: relative;
    background: var(--bg-image) no-repeat center right/cover;
    height: 100vh;
    color: var(--light-color);
}

#header-Home .header-content {
    text-align: center;
    padding-top: 30%;
}

#header-Home .header-content h1 {
    font-size: 4rem;
    line-height: 1.2;
    font-family: 'Sedgwick Ave Display', cursive;
    font-weight: 400;

}

.specials {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.specials h3 {
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1.7rem;
    font-weight: 400;
    color: var(--light-color);
}

.specials .fas {
    color: #ffbc00;
    padding-bottom: 0.4rem;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 1.5rem;
    background: var(--dark-color);
}

.specials div {
    min-height: 270px;
    background: var(--strong-dark-color);
    padding: 0.5rem;
    border-radius: 5px;
    color: var(--lesslight);
}

.specials span {
    background: var(--light-color);
    margin-top: 1.5rem 0;
    height: 3px;
}
#about-me{
    background-color: #ffbc00;
}
#about-me .about-wrap{
   display: flex;
  
}
#about-me div {
    flex: 1;
}
#about-me .about-Image {
    background: url('../img/isse-prof.jpg') no-repeat center center/cover;
}
#about-me span {
    margin: 0;
}
.about-me-text {
    padding: 1rem;
}
#about-me .section-title{
    margin: 0;
}
.fab {
    background: var(--dark-color);
    color: #fff;
    margin-right: 0.5rem;
    border: 2px #fff solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 20px;
    text-align: center;
    padding: 0.6rem;
}
#projects .items {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
}
#projects .items{
    grid-row: auto /span 2;
}
.items img {
    width: 100%;
    border-radius: 10px;
}

span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  span.cursor.typing {
    animation: none;
  }
  span.typed-text {
    font-weight: normal;
    color: #dd7732;
  }
